#levelcreator{
  margin:1em;
}
#levelmap{
  margin-top:1em;
  width:1000px;
  height:500px;
  position: relative;
  background:lightgrey;
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}
#levelgrundriss,#levelmap > div{
  position: absolute;
  top: 0;
  left:0;
  width:100%;
  height:100%;
}

.innertoolbar,
.grundriss .editPaths,
.grundriss.editPath .addPaths,
.selectedLabel{
  display: none;
}
.grundriss .grundrisstools,
.grundriss.editPath .editPaths,
.background .backgroundtools.innertoolbar,
.objekte .objektetools,
.label .labeltools,
.labelSelected .selectedLabel,
.foto .fototools{
  display: block;
}

#levelgrundrisspaths,
#levelgrundrisswaypoints,
#levelclickmap,
.grundriss #levelmap.editPath #levelgrundrisspaths,
#levelmap #levelgrundrisswaypoints{
  display:none;
}
.grundriss #levelmap #levelgrundrisspaths,
#levelmap.editPath #levelgrundrisswaypoints,
#levelmap.editPath #levelclickmap,
.objekte #levelmap #levelobjekte,
.foto #levelfotos{
  display: block;
  z-index: 10;
}


#levelmap div.levelmeter{
  display: block;
  background:
       linear-gradient(-90deg, rgba(0,0,0,.05) 1px, transparent 1px),
       linear-gradient(rgba(0,0,0,.05) 1px, transparent 1px),
       linear-gradient(-90deg, rgba(0, 0, 0, .04) 1px, transparent 1px),
       linear-gradient(rgba(0,0,0,.04) 1px, transparent 1px),
       linear-gradient(transparent 3px, #f2f2f2 3px, #f2f2f2 78px, transparent 78px),
       linear-gradient(-90deg, #aaa 1px, transparent 1px),
       linear-gradient(-90deg, transparent 3px, #f2f2f2 3px, #f2f2f2 78px, transparent 78px),
       linear-gradient(#aaa 1px, transparent 1px),
       #f2f2f2;
   background-size:
       4px 4px,
       4px 4px,
       50px 50px,
       50px 50px,
       50px 50px,
       50px 50px,
       50px 50px,
       50px 50px;
}
#levelmap > div > div{
  cursor:move;
}

.pathpoint{
  width:30px;
  height:30px;
  border-radius: 100%;
  background:blue;
  position: absolute;
  margin-left:-15px;
  margin-top:-15px;
}
.pathpoint.square, waypoint.square{
  border-radius: 0;
}
.waypoint{
  width:24px;
  height:24px;
  border-radius: 100%;
  background:black;
  position: absolute;
  margin-left:-12px;
  margin-top:-12px;
}
.waypoint.startpoint{
  background:red;
}
path{
  fill:none;
  stroke:black;
  stroke-width:13px;
}
path.door{
  stroke-width:3px;
  fill:white;
}
.objekt, .label, .fotolink{
  position: absolute;
}
.showObjectConfig .objekt.selected svg path{
  stroke:red;
}

.addObjects svg{
  width:100%;
  height:100%;
}
.addObjects button{
  width:5ch;
  height:5ch;
  padding:2px;
}

#selectedObjectConfig{
  display: none;
}
.showObjectConfig #selectedObjectConfig{
  display: block;
}

#levellabel .label.selected{
  color:red;
}
.fotolink{
  width:50px;
}
.fotolink img{
  max-width: 100%;
}
#fotoupload{
  display: none;
}
#pendingfotos img{
  max-height:3em;
}
#levelfotopreview{
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  width: 100vw;
  height:100vh;
}
