#levelcreator{
  margin:1em;
}
#levelmap{
  margin-top:1em;
  width:1000px;
  height:500px;
  position: relative;
  background:lightgrey;
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
}
#levelgrundriss,#levelmap > div{
  position: absolute;
  top: 0;
  left:0;
  width:100%;
  height:100%;
}
.toolbar{
  display: grid;
  grid-template-areas:
  "creatortype selectedItem"
  "innertoolbar selectedItem";
  grid-template-columns: auto 1fr;
  grid-template-rows: 1.5em 1fr;
  height:6em;
}
.toolbar input[type=radio]{
  display: none;
}
.toolbar .chooseCreatorType label{
  border-bottom: 2px transparent;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-radius: 5px 5px 0 0;
  padding-left:1ch;
  padding-right: 1ch;
  display: inline-block;
  background:lightgrey;
}
.toolbar input[type=radio]:checked + label{
  border-bottom:2px white;
  background:white;
  margin-bottom:-2px;
  padding-bottom: 1px;
}
.chooseCreatorType{
  grid-area: creatortype;
  align-self: end;
  padding-left: 2ch;
  padding-right: 1ch;
  border-right: 1px solid black;
  z-index: 3;
}
.innertoolbar{
  grid-area:innertoolbar;
  border-left:1px solid black;
  border-top: 1px solid black;
  border-top-left-radius: 5px;
  padding-left:1ch;
  padding-top:5px;
  height:100%;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  z-index: 2;
}
.selectedItems {
    border-top: 1px solid black;
    border-left: 1px solid transparent;
    margin-left: -4px;
    border-right: 1px solid black;
    grid-area: selectedItem;
    border-radius: 10px;
    margin-top: 1px;
    padding-left: 1ch;
}
.selectedItems h4{
  margin-top:5px;
  margin-bottom:4px;
  text-align: center;
  grid-column:1/3;
}

.innertoolbar,
.grundriss .editPaths,
.grundriss.editPath .addPaths,
.selectedLabel,
.selectedFoto,
#selectedObjectConfig,
.fotoSelected .levelmeter{
  display: none;
}
.grundriss .grundrisstools,
.grundriss.editPath .editPaths,
.importexport .file.innertoolbar
{
  display: block;
}
.background .backgroundtools.innertoolbar,
.leveledit .leveltools,
.objekte .objektetools,
.label .labeltools,
.showObjectConfig #selectedObjectConfig,
.foto .fototools,
.labelSelected .selectedLabel,
.fotoSelected .selectedFoto{
  display:grid;
}
.fotoSelected .selectedFoto{
  grid-template-columns: max-content max-content 1fr;
}
.selectedItems label{
  grid-column:1;
}
.selectedItems button,
.selectedItems select{
  grid-column:2;
}
#levelfotopreview{
  grid-column:3/4;
  grid-row:1/5;
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
  height:200%;
  position: relative;
  margin-left: 10ch;
}
#levelfotopreview img{
  position: absolute;
  width:100%;
}

#levelgrundrisspaths,
#levelgrundrisswaypoints,
#levelclickmap,
.grundriss #levelmap.editPath #levelgrundrisspaths,
#levelmap #levelgrundrisswaypoints{
  display:none;
}
.grundriss #levelmap #levelgrundrisspaths,
#levelmap.editPath #levelgrundrisswaypoints,
#levelmap.editPath #levelclickmap,
.objekte #levelmap #levelobjekte,
.foto #levelfotos,
.label #levellabel{
  display: block;
  z-index: 10;
}


#levelmap div.levelmeter{
  display: block;
  background:
       linear-gradient(-90deg, rgba(0,0,0,.05) 1px, transparent 1px),
       linear-gradient(rgba(0,0,0,.05) 1px, transparent 1px),
       linear-gradient(-90deg, rgba(0, 0, 0, .04) 1px, transparent 1px),
       linear-gradient(rgba(0,0,0,.04) 1px, transparent 1px),
       linear-gradient(transparent 3px, #f2f2f2 3px, #f2f2f2 78px, transparent 78px),
       linear-gradient(-90deg, #aaa 1px, transparent 1px),
       linear-gradient(-90deg, transparent 3px, #f2f2f2 3px, #f2f2f2 78px, transparent 78px),
       linear-gradient(#aaa 1px, transparent 1px),
       #f2f2f2;
   background-size:
       4px 4px,
       4px 4px,
       50px 50px,
       50px 50px,
       50px 50px,
       50px 50px,
       50px 50px,
       50px 50px;
}
#levelmap > div > div{
  cursor:move;
}

.pathpoint{
  width:30px;
  height:30px;
  border-radius: 100%;
  background:blue;
  position: absolute;
  margin-left:-15px;
  margin-top:-15px;
}
.pathpoint.square, waypoint.square{
  border-radius: 0;
}
.waypoint{
  width:24px;
  height:24px;
  border-radius: 100%;
  background:black;
  position: absolute;
  margin-left:-12px;
  margin-top:-12px;
}
.waypoint.startpoint{
  background:red;
}
path{
  fill:none;
  stroke:black;
  stroke-width:13px;
}
path.door{
  stroke-width:3px;
  fill:white;
}
.objekt, .label, .fotolink{
  position: absolute;
}
.showObjectConfig .objekt.selected svg path{
  stroke:red;
}

.addObjects svg{
  width:100%;
  height:100%;
}
.addObjects button{
  width:5ch;
  height:5ch;
  padding:2px;
}

.label #levellabel .label.selected{
  color:red;
}
.fotolink{
  width:50px;
}
.fotolink img,
.fotolink svg{
  max-width: 100%;
}
.fotolink path{
  stroke:black;
  stroke-linejoin:round;
}
.fotolink rect{
  fill:black;
}
.fotoSelected .fotolink.selected path{
  stroke:red;
}
.fotoSelected .fotolink.selected rect{
  fill:red;
}
#fotoupload,#backgroundupload{
  display: none;
}
label, button, select{
  cursor: pointer;
}

.fototools.innertoolbar{
  grid-template-areas:
  "title pendingfotos"
  "upload pendingfotos";
  grid-template-columns: auto 1fr;
  height:5em;
}

.pendingfotoswrapper {
  width:60ch;
  height:100%;
  overflow-x:auto;
  grid-area: pendingfotos;
}
#pendingfotos{
  display: grid;
  grid-auto-flow: column;
  height: 100%;
}
#pendingfotos button{
  display: block;
  position: relative;
  height:100%;
  width:20ch;
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
}
#pendingfotos button span{
  background: rgba(255,255,255,0.5);
  position: absolute;
  top:0;
}

.foto #levelmap{
  opacity:0.5;
}
#svgcontainer{
  display: none;
}
#map{
  display: none;
}
